
<h1>Demo ruby Appp</h1>
<p>
  This is the home page for the sample application.
</p>
 
 <img src="http://www.quickmeme.com/img/36/361e21881779b0187ec59b04c6b53a25db0e49a80b734679c458de6d6a98da87.jpg">
